<!-- sidebar -->
<ul class="nav hidden-xs lg-menu">
    <li><a href="#" data-type="route" data-value="home"><i class="glyphicon glyphicon-list-alt"></i> Главная</a></li>
    <li><a href="#" data-type="route" data-value="accounts"><i class="fa fa-users"></i> Пользователи</a></li>
    <li><a href="#" data-type="route" data-value="keys"><i class="fa fa-key"></i> Ключи доступа</a></li>
</ul>
<ul class="list-unstyled hidden-xs sidebar-footer">
    <li>
        Разработал <i class="glyphicon glyphicon-user"></i> <a target="_blank" href="http://vk.com/s696385">@Andy</a>
    </li>
</ul>

<!-- tiny only nav-->
<ul class="nav visible-xs xs-menu">
    <li><a href="#" data-type="route" data-value="home"><i class="glyphicon glyphicon-list-alt"></i></a></li>
    <li><a href="#" data-type="route" data-value="accounts"><i class="fa fa-users"></i></a></li>
    <li><a href="#" data-type="route" data-value="keys"><i class="fa fa-key"></i></a></li>
</ul>

<!-- /sidebar -->
