<nav class="navbar navbar-default navbar-static-top" role="navigation" id="nav">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">at Work</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">

        </ul>
        <ul class="nav navbar-nav navbar-right" data-type="user" data-toggle="login">
            <li class="dropdown">
                <li><a href="#" data-type="action" data-value="login">Войти</a>
                </li>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" data-type="user" data-toggle="logout">
            <li class="dropdown">
                <li>
                    <a href="#" class="dropdown-toggle ignore" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> <span data-type="field-value" data-value="fio|email"></span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" data-type="action" data-value="logout">Выйти</a>
                        </li>
                    </ul>
                </li>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->

</nav>
