<div class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Ключ</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" data-type="error-window" style="display: none">
                    <strong>Ошибка!</strong> <div data-type="error-message"></div>
                </div>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Код</label>
                        <div class="col-sm-10">
                            <input type="text" name="code" class="form-control" placeholder="Код" value="<%= code %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Пользователь</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="userId">
                                <option value=""></option>
                            </select>
                            <!--input type="text" name="userId" class="form-control" placeholder="Пользователь" value="<%= userId %>"!-->
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-type="action" data-value="OK">Сохранить</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>