<div class="panel panel-default">
    <h5>Пользователи <button class="btn btn-sm btn-primary" data-type="action" data-value="add"><i class="fa fa-plus"></i> Добавить</button></h5>
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Фамилия Имя Отчество</th>
                <th>Email</th>
                <th>Псевдоним</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

        </tbody>

    </table>
</div>